<!doctype html>
<html lang="it">
<body>
    <header>
        <div class="row-flex logo-bar">
            <img src="/img/main_logo.png" alt="main_logo">
            <p>Your favourite source of soccer news</p>
        </div>
        <nav class="row-flex nav-bar" id="nav-bar">
            <ul>
                <li>
                    <a href="/index.php">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="icon" width="512" height="512" viewBox="0 0 512 512">
                            <title>Home</title>
                            <path d="M512 304l-96-96v-144h-64v80l-96-96-256 256v16h64v160h160v-96h64v96h160v-160h64z"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/calendario/index.php">Calendario</a>
                </li>
                <li>
                    <a>Campionati</a>
                </li>
                <li>
                    <a>Squadre</a>
                </li>
                <li>
                    <a>Giocatori</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="icon" width="512" height="512" viewBox="0 0 512 512">
                            <title>Search</title>
                            <path d="M493.613 433.813l-120.004-102.065c-12.406-11.164-25.673-16.291-36.391-15.796 28.327-33.183
                                45.44-76.231 45.44-123.281 0-104.927-85.060-189.987-189.987-189.987s-189.987 85.059-189.987 189.987 85.059 189.987
                                189.987 189.987c47.050 0 90.099-17.111 123.282-45.44-0.495 10.717 4.631 23.985 15.796 36.391l102.065 120.004c17.476
                                19.417 46.023 21.054 63.438 3.639s15.779-45.962-3.639-63.438zM192.671
                                319.329c-69.951 0-126.657-56.707-126.657-126.657s56.707-126.657 126.657-126.657 126.657 56.707 126.657 126.657-56.706
                                126.657-126.657 126.657z"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="icon" width="512" height="512" viewBox="0 0 512 512">
                            <title>User</title>
                            <path d="M288 353.306v-26.39c35.249-19.864 64-69.386 64-118.916 0-79.529 0-144-96-144s-96 64.471-96 144c0 49.53
                                28.751 99.052 64 118.916v26.39c-108.551 8.874-192 62.21-192 126.694h448c0-64.484-83.449-117.82-192-126.694z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>